{% comment %}<!-- overrides: https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/masthead.html -->{% endcomment %}

{% capture logo_path %}{{ site.logo }}{% endcapture %}
<link rel="stylesheet" href="/assets/css/navigation.css">
<!-- <script>
  document.body.addEventListener('touchstart',function(){},false);
  document.body.addEventListener('onmouseover',function(){},false);
</script> -->

<script>
  var ids = []
  function toggleMenu(id) {
    console.log(id)
    document.getElementById(id).classList.toggle("show");
    if (ids.some(x => x === id)) return;
    ids.push(id)
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function(e) {
    if (!e.target.matches('.menuDropdown')) {

    ids.forEach(x => {
      var myDropdown = document.getElementById(x);
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
    })
    }
  }
</script>

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
        <a class="site-title" href="{{ '/' | relative_url }}">
          {{ site.masthead_title | default: site.title }}
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a>
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            {% if link.sub -%}
              <li class="masthead__menu-item nav">
                <a class="menuDropdown" onclick="toggleMenu('{{ link.title }}')">{{ link.title }} <i class="fas fa-caret-down"></i></a>
                <ul id="{{ link.title }}">
                  {% for sub in link.sub %}
                  <li>
                    <a href="{{ sub.url | relative_url }}"{% if sub.description %} title="{{ sub.description }}"{% endif %}>{{ sub.title }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            {% else -%}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
            </li>
            {% endif %}
          {%- endfor -%}
        </ul>
        {% if site.minimal_mistakes_skin_dark %}
          <i class="fas fa-fw fa-adjust" aria-hidden="true" onclick="node1=document.getElementById('theme_source');node2=document.getElementById('theme_source_2');if(node1.getAttribute('rel')=='stylesheet'){node1.setAttribute('rel', 'stylesheet alternate'); node2.setAttribute('rel', 'stylesheet');sessionStorage.setItem('theme', 'dark');}else{node2.setAttribute('rel', 'stylesheet alternate'); node1.setAttribute('rel', 'stylesheet');sessionStorage.setItem('theme', 'light');} return false;"></i>
        {% endif %}
        {% if site.search == true %}
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <i class="fas fa-search"></i>
        </button>
        {% endif %}
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
