---
# In dark mode, used to replace: https://github.com/mmistakes/minimal-mistakes/blob/master/assets/css/main.scss
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin_dark | default: 'dark' }}"; // skin
@import "minimal-mistakes"; // main partials

.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
  
    > p,
    > ul {
      margin-bottom: 0;
    }
  
    > p + p {
      margin-top: 5px;
    }
  }

.badge {
  display: inline-block; 
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700; 
  line-height: 1; 
  color: #fff; 
  background-color: #ff8c00; 
  border-radius: 0.25rem;
}