  .visible-links .masthead__menu-item.nav ul a {
    text-decoration: none;
    color:#E2DFD0;
    background-color: #344C64;
    text-align: left;
    display: block;
    transition: .3s background-color;
    padding: 6px 24px !important;
    border-bottom: 2px solid #240750;
  }
  
  .visible-links .masthead__menu-item.nav ul a:hover {
    background-color: #577B8D;
  }
  
  .visible-links .masthead__menu-item.nav a {
      border-bottom:none;
  }
  
  .visible-links .masthead__menu-item.nav ul {
      position:absolute;
      display:none;
      width:inherit;
      text-align:left;
  }
  
  .visible-links .masthead__menu-item.nav ul li {
    display: block;
    float:none !important; /* newly added */
    height:auto; /* newly added */
    line-height:34px; /* newly added */
  }

  .show {
    display: block !important;
  }

  .hidden-links li.nav a {
    padding: 4px 20px !important;
  }

  .hidden-links li.nav {
    list-style: square inside;
  }

  .hidden-links li.nav ul li a::before {
    content: "- ";
  }

/* Side Menu Toggable Buttons */
.accordion {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.accordion:before {
  content: '\002B';
  font-weight: bold;
  float: left;
  margin-right: 5px;
}

.accordion.active:before {
  content: "\2212";
}

.panel {
  /* padding: 0 20px; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Alerts */
.alert {
  margin-bottom:10px;
  margin-top:10px;
  overflow: hidden;
}

.alert-warning {
  color: #444;
  background-color: #f0ad4e;
  border-color: #9c721f;
}

div.alert code, h2 code {
  background-color: transparent !important;
}
/* without this, the links in these notes aren't visible.*/
.alert a {
  text-decoration: underline;
}

.flex {
    display: flex !important;
    flex: 1 1 0%;
}

.flex-row {
    flex-direction: row !important;
}

.flex-col {
    flex-direction: column !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}